@charset "UTF-8";

table #good {
	color: black;
}
#good.active_good{
	
	color: red;
}
h1{
 font-size: 50px;
 text-align: center;
 margin-top: 40px;
  }
 
  img{
     display: block;
	 margin-left: auto;
		margin-right:auto;
		
            }
          
  
            
            
            